body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
  /* Height of the footer */
}

h1 {
  font-size: 24px;
}

table {
  width: 100%;
  margin-top: 100px;
  border-collapse: separate;
  border-spacing: 0 10px;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #444;
}

th {
  background-color: #444;
  color: #fff;
}

.upload-container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}

.upload-box {
  border: 2px dashed #666;
  padding: 50px;
  margin-top: 50px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  vertical-align: middle;
}

.upload-box.dragover {
  border-color: #fff;
}

input[type="file"] {
  display: none;
}

label {
  display: block;
  background-color: #444;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.footer {
  padding: 10px;
  background-color: #222;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.github-link {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

button {
  background-color: #444;
  color: #fff;
  padding: 10px 20px;
  border: medium;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.code-container {
  display: inline-block;
  white-space: nowrap;
  margin-top: 40px;
  text-align: left;
  vertical-align: middle;
}

.code-line {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.code-container pre {
  background-color: #444;
  color: #fff;
  padding: 10px;
  margin: 0;
  display: inline-block;
  width: 100%;
  white-space: pre-wrap;
}

.code-container button {
  margin-top: 0;
  padding: 10px;
  margin: 10px;
}

.pastebin {
  width: 100%;
  margin-right: 10px;
  padding-top: 30px;
  border-top: 1px solid #444;
  margin-top: 50px;
}

#code-input {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
  font-family: monospace;
  font-size: 14px;
  background-color: #444;
  color: #fff;
}

label,
select {
  display: inline-block;
  vertical-align: middle;
  background-color: #444;
  color: #fff;
}

div.pastebin select {
  margin-right: 10px;
  padding: 10px;
  font-size: 13px;
}

div.language-picker {
  margin-bottom: 5px;
}

select,
button {
  margin-right: 10px;
  padding: 10px;
  font-size: 17px;
}


/* Change the appearence of the bakground colour surrounding the search input field */
.select2-search {
  background-color: #444 !important;
}

/* Change the appearence of the search input field */
.select2-search input {
  color: #ffffff !important;
  background-color: #444 !important;
  height: 40px !important;
}

/* Change the appearence of the search results container */
.select2-results {
  background-color: #444 !important;
}

/* Change color of overlay when dropdown is opened */
.select2-container--bootstrap-5 .select2-dropdown {
  background-color: #444 !important;
}

/* Change the appearence of the dropdown select container */
.select2-container--bootstrap-5 .select2-selection {
  border-color: #6c757d !important;
  color: #ffffff !important;
  background-color: #222 !important;
}

/* Change the caret down arrow symbol to white */
.select2-container--bootstrap-5 .select2-selection--single {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}

.select2-container--default .select2-results>.select2-results__options {
  scrollbar-color: #444 #333;
}

.select2-selection {
  overflow: hidden;
}

.select2-selection__rendered[title] {
  color: #ffffff !important;
  background-color: #4d4d4d;
}
