# Application name
APP_NAME=GiraFiles
# Host the application Listen to
HOST=0.0.0.0
# Port the application Listen to
PORT=8000
# Debug mode. Set to 1 to enable. Otherwise release mode is used
DEBUG=0
# Path to store the files
STORE_PATH=/tmp/girafiles/data
# File persistance time in hours. 0 to keep files forever
FILE_PERSISTANCE_TIME=24
# File size limit in MB
FILE_SIZE_LIMIT=50
# Size limit for STORE_PATH in MB. If exceeded, the oldest files will be deleted first. Set to 0 to disable
STORE_PATH_SIZE_LIMIT=2048
# Users and Passwords. Leave it empty to disable authentication. Format: user1:password1,user2:password2
USERS=
# IP Rate Limit per minute. 0 to disable
IP_MIN_RATE_LIMIT=5
# IP Rate Limit per hour. 0 to disable
IP_HOUR_RATE_LIMIT=30
# IP Rate Limit per day. 0 to disable
IP_DAY_RATE_LIMIT=200
