<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>?</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <p>Could not find what you are looking for</p>
  <div style="text-align: center;">
    <img src="/static/tatata.gif" alt="tatatata">
  </div>
  <div style="text-align: center; margin-top: 50px;">
    <button onclick="window.location.href = '/';"
      style="color: white; background-color: #444; border: none; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Go
      Home</button>
  </div>
</body>

</html>
