<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>?</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>

<body>
  <h1>404</h1>
  <h3>Could not find what you are looking for</h3>
  <div style="text-align: center;">
    <img src="/static/tatata.gif" alt="tatatata">
  </div>
  <div style="text-align: center; margin-top: 50px;">
    <button onclick="window.location.href = '/';">Go Home</button>
  </div>
</body>

</html>
