<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .title }} - File Upload</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div class="container">
    <h1>Welcome to {{ .title }}</h1>
    <p>Store and share your files securely with {{ .title }}.</p>

    <table>
      <tr>
        <td>Max File Size</td>
        <td>{{ .filesize }}MB</td>
      </tr>
      <tr>
        <td>Max Upload Per Day</td>
        <td>{{ .ratelimit }} files</td>
      </tr>
      <tr>
        <td>Your files will be kept for</td>
          <td>{{ .ratelimit }} hours {{ if .storeLimit }}(The server may delete earlier if running out of space){{ end }}</td>
      </tr>
    </table>

    {{ if .authRequired}}
      <p>Only API uploads are accepted</p>
    {{ else}}
      <div class="upload-container">
        <form action="/api/files?redirect=true" method="post" enctype="multipart/form-data" id="file-upload-form">
          <div class="upload-box">
            <label for="file-upload">Click here to upload a file</label>
            <input type="file" id="file-upload" name="file" onchange="document.getElementById('file-upload-form').submit()">
          </div>
        </form>
    </div>
    {{ end}}

  <div class="footer">
    <a href="https://github.com/matheusfillipe/girafiles" class="github-link"><i class="fab fa-github"></i> GitHub</a>
  </div>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>

</html>
