<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .title }} - File Upload</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <!-- Include Select2 CSS and JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
  <div class="container">
    <h1>Welcome to {{ .title }}</h1>
    <p>Store and share your files securely with {{ .title }}.</p>

    <table>
      <tr>
        <td>Max File Size</td>
        <td>{{ .filesize }}MB</td>
      </tr>
      <tr>
        <td>Max Upload Per Day</td>
        <td>{{ .ratelimit }} files</td>
      </tr>
      <tr>
        <td>Your files will be kept for</td>
        <td>{{ .persistance }} hours</td>
      </tr>
      {{ if .storeLimit }}
      <tr>
        <td>Deletion</td>
        <td>The server may delete earlier if running out of space</td>
      </tr>
      {{ end }}
    </table>

    <div class="code-container">
      <h4 style="text-align: start;">Curl upload</h4>
      <div class="code-line">
        <pre
          style="background-color: #111;"><code>curl -s -F "file=@/path/to/file" {{ .uploadEP }}</code></pre>
        <button onclick="copyCode()">Copy</button>
      </div>
    </div>

    {{ if .authRequired}}
    <p>Only API uploads are accepted</p>
    {{ else}}
    <div class="upload-container">
      <div class="upload-box" ondrop="
          event.preventDefault();
          document.getElementById('file-upload').files = event.dataTransfer.files;
          document.getElementById('file-upload-form').submit()
          document.querySelector('.upload-box').classList.remove('dragover')
          " ondragover="event.preventDefault(); document.querySelector('.upload-box').classList.add('dragover')"
        ondragleave="document.querySelector('.upload-box').classList.remove('dragover')">
        <form action="/api/?redirect=true" method="post" enctype="multipart/form-data" id="file-upload-form">
          <label for="file-upload">Click or drop a file here to upload</label>
          <input type="file" id="file-upload" name="file"
            onchange="document.getElementById('file-upload-form').submit()">
        </form>
      </div>
    </div>
    <div class="pastebin">
      <h1>Create a Paste</h1>

      <div class="language-picker">
        <label for="language">Select Language:</label>
        <select id="language" value="plaintext">
          {{ range $name, $val := .pasteLanguages }}
          <option value="{{ $val }}" {{ if eq $val "" }}selected{{ end }}>{{ $name }}</option>
          {{ end }}
        </select>
      </div>
      <!-- Code Textarea -->
      <textarea id="code-input" placeholder="Paste your code here..."></textarea>

      <!-- Send Button -->
      <button onclick="submitPaste()">Send</button>
    </div>
    {{ end}}

    <div class="footer">
      <a href="https://github.com/matheusfillipe/girafiles" class="github-link"><i class="fab fa-github"></i> GitHub</a>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script>
      $(document).ready(function () {
        $('#language').select2();
        $('#language').one('select2:open', function (e) {
          $('input.select2-search__field').prop('placeholder', 'Choose a language');
        });
      });
      function submitPaste() {
        // Get the code and selected language
        const code = document.getElementById('code-input').value;
        const language = document.getElementById('language').value;

        // Submit as a form with file contents to the API
        var form = new FormData();
        form.append('file', new Blob([code], {type: 'text/plain'}), 'file');
        fetch('/api/', {
          method: 'POST',
          body: form,
        }).then((res) => res.json()).then((data) => {
          const param = language ? `l=${language}` : '';
          window.location.href = `${data.url}/pretty?${param}`;
        });
      }
    </script>
    <script src="/static/shared.js"></script>
</body>

</html>
