<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .title }} - File Upload</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="container">
    <h1>Welcome to {{ .title }}</h1>
    <p>Store and share your files securely with {{ .title }}.</p>

    <table>
      <tr>
        <td>Max File Size</td>
        <td>{{ .filesize }}MB</td>
      </tr>
      <tr>
        <td>Max Upload Per Day</td>
        <td>{{ .ratelimit }} files</td>
      </tr>
      <tr>
        <td>Your files will be kept for</td>
        <td>{{ .persistance }} hours</td>
      </tr>
      {{ if .storeLimit }}
      <tr>
        <td>Deletion</td>
        <td>The server may delete earlier if running out of space</td>
      </tr>
      {{ end }}
    </table>

    <div class="code-container">
      <h4 style="text-align: start;">Curl upload</h4>
      <div class="code-line">
        <pre
          style="background-color: #111;"><code>curl -s -F "file=@/path/to/file" {{ .uploadEP }} | jq -r '.url'</code></pre>
        <button onclick="copyCode()">Copy</button>
      </div>
    </div>

    {{ if .authRequired}}
    <p>Only API uploads are accepted</p>
    {{ else}}
    <div class="upload-container">
      <div class="upload-box"
        ondrop="
          event.preventDefault();
          document.getElementById('file-upload').files = event.dataTransfer.files;
          document.getElementById('file-upload-form').submit()
          document.querySelector('.upload-box').classList.remove('dragover')
          "
        ondragover="event.preventDefault(); document.querySelector('.upload-box').classList.add('dragover')"
        ondragleave="document.querySelector('.upload-box').classList.remove('dragover')">
        <form action="/api/?redirect=true" method="post" enctype="multipart/form-data" id="file-upload-form">
          <label for="file-upload">Click or drop a file here to upload</label>
          <input type="file" id="file-upload" name="file"
            onchange="document.getElementById('file-upload-form').submit()">
        </form>
      </div>
    </div>
    {{ end}}

    <div class="footer">
      <a href="https://github.com/matheusfillipe/girafiles" class="github-link"><i class="fab fa-github"></i> GitHub</a>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script>
      function copyCode() {
        const code = document.querySelector('pre code').innerText;
        navigator.clipboard.writeText(code);
      }
    </script>
</body>

</html>
