<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paste preview</title>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.8.0/build/styles/github-dark.min.css">
  </link>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css" />
  <style>
    body {
      background-color: #444;
      color: #fff;
      margin: 0 10%;
    }

    .container {
      max-width: 100%;
    }

    h1 {
      color: #f0f0f0;
      text-align: center;
    }

    button {
      background-color: #111;
      color: #fff;
      padding: 10px 20px;
      border: medium;
      border-radius: 5px;
      cursor: pointer;
    }

    .footer {
      padding: 10px;
      background-color: #222;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
    }

    .github-link {
      color: #fff;
      text-decoration: none;
      margin-left: 10px;
    }

    .hljs-ln td {
      padding-right: 10px !important;
    }

    td.hljs-ln-line.hljs-ln-numbers {
      text-align: right !important;
    }

  </style>
</head>

<body>
  <div class="container" sytle="max-width: 100%;">
    <h1>{{ .title }}</h1>
    <h4>{{ .timestamp }}</h4>

    <div style="display: flex">
      <button
        onclick="window.location.href = `${window.location.href.replace(/\/[^\/]*$/, '')}/?download=true`;">Download</button>
      <div style="flex-grow: 10;">
      </div>
    </div>
    <pre><code class="{{ .class }}">{{ .code }}</code></pre>
  </div>

  <div style="margin-bottom: 50px;">
    <button onclick="window.location.href = '/';">Go Home</button>
  </div>
  <div class="footer">
    <a href="https://github.com/matheusfillipe/girafiles" class="github-link"><i class="fab fa-github"></i> GitHub</a>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <script
    src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.9.0/highlightjs-line-numbers.min.js"></script>
  <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
  <script src="/static/shared.js"></script>
  <script>
    hljs.highlightAll();
    hljs.initLineNumbersOnLoad();
    hljs.addPlugin(new CopyButtonPlugin({autohide: false}));
  </script>
</body>

</html>
