name: ci

on:
  push:

jobs:
  lints-and-tests:
    name: Lints and Tests
    runs-on: ubuntu-latest
    # Run for every commit
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Install goimports
        run: go install golang.org/x/tools/cmd/goimports@latest
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.58
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.1

      - name: Run Tests
        run: go test -v ./tests/...

  docker:
    name: Publish Docker image
    runs-on: ubuntu-latest
    # Run for main branch only
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: mattfly/girafiles:latest
